html,body {min-height:100vh}
body {
	background-color: #e1eafc;
	background-image: linear-gradient(45deg, #0c1e84, #2084e8);
	font-size: 24px;
}
body, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6, .uk-text-lead {
	color: white;
}

h2, h3 {
	font-size: 36px;
}

hr {
	opacity: .5;
}

#iso {
	transform-origin: top left;
	transform:  scale(1);
	transition: transform .1s;
}


.ap-margin {
	margin-left: 25px;
	margin-top: 300px;
	width: 90%;
}

.ap-logo {
	position: relative;
}

body.faq .ap-margin {
	margin-top: 300px;
}


@media (min-width: 960px) {
	.ap-margin {
		margin-left: 225px;
		margin-top: 100px;
		width: 60%;
	}
	.ap-logo {
		position: fixed!important;
	}
}

.ap-maxw {
	max-width: 50vw;
}

.ap-header-image {
	width:100%;
}

.ap-16-9 {
	position: relative;
	padding-top: 56.25%;
}
.ap-16-9 > * {
	position: absolute;
	top: 0; left: 0;
	right: 0; bottom: 0;

}


.uk-navbar-nav>li>a {
	min-height: 40px;
	color: white;
}
.uk-navbar-nav>li>a:hover {
	color: #9fc9e1;
}

.ap-mtop {
	margin-top: 325px;
}

.my-launch {
	background-color: #ffed01;
	color: black !important;
	border-radius: 50px;
}
.my-launch + div.uk-dropdown {
	min-width: 450px !important;
	border-top: 2px solid #20629b;
}

@media (max-width: 640px) {
	.my-launch + div.uk-dropdown {
		min-width: 350px !important;
	}
}

.my-launch-bottom a.uk-button {
	background-color: #20629b;
	color: #ffffff !important;
	border-radius: 50px;
}

body.faq .uk-grid img {
	max-height: 100px;
}

em {
	background-color: rgba(255,255,255,.2);
	color: inherit;
	padding-left: .3em; padding-right: .3em;
}

.fadey {
    background-image: linear-gradient(transparent 10%, currentColor 30%, currentColor 90%, transparent 100%);
	-webkit-background-clip: text;
    background-clip: text;
    background-attachment: fixed;
  }
  .fadey > * {
    color: transparent;
  }

footer {
	text-align: right;
	font-size: 14px;
}
footer a {
	color: rgba(255,255,255,.8);
	text-decoration: underline;
	transition: color .1s;
}
footer a:hover {
	color: white;
}

/* coursesuite bar at the top */
.coursesuite-bar {
	font-size: 1rem;
	color: rgba(255,255,255,.5);
}
.coursesuite-bar a, .coursesuite-bar a:visited {
	color: inherit;
	font-weight: normal;
	border-bottom: 1px dotted rgba(255,255,255,0);
	transition: color .2s, border-bottom-color .2s;
	margin: 0 .5rem;
	text-decoration: none!important;
}
.coursesuite-bar a:hover, .coursesuite-bar a:active {
	color: white;
	border-bottom-color: white;
}
.coursesuite-bar a:first-of-type {
	font-weight: bold;
}
.coursesuite-bar .embiggen {
	transform: rotate(0);
	transition: transform .3s ease;
}
.coursesuite-bar .embiggen:hover {
	transform: rotate(1turn);
}