html,body {min-height:100vh}
body {
	background-color: #e1eafc;
	background-image: linear-gradient(45deg, #0c1e84, #2084e8);
	font-size: 24px;
}
body, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6, .uk-text-lead {
	color: white;
}

h2, h3 {
	font-size: 36px;
}

hr {
	opacity: .5;
}


.ap-margin {
	margin-left: 25px;
	margin-top: 300px;
	width: 90%;
}

.ap-logo {
	position: relative;
}

body.faq .ap-margin {
	margin-top: 300px;
}


@media (min-width: 960px) {
	.ap-margin {
		margin-left: 225px;
		margin-top: 100px;
		width: 60%;
	}
	.ap-logo {
		position: fixed!important;
	}
}

.ap-maxw {
	max-width: 50vw;
}


.uk-navbar-nav>li>a {
	min-height: 40px;
	color: white;
}
.uk-navbar-nav>li>a:hover {
	color: #9fc9e1;
}

.ap-mtop {
	margin-top: 325px;
}

.my-launch {
	background-color: #ffed01;
	color: black !important;
	border-radius: 50px;
}
.my-launch + div.uk-dropdown {
	min-width: 450px !important;
	border-top: 2px solid #20629b;
}

@media (max-width: 640px) {
	.my-launch + div.uk-dropdown {
		min-width: 350px !important;
	}
}

.my-launch-bottom a.uk-button {
	background-color: #20629b;
	color: #ffffff !important;
	border-radius: 50px;
}

body.faq .uk-grid img {
	max-height: 100px;
}

em {
	background-color: rgba(255,255,255,.2);
	color: inherit;
	padding-left: .3em; padding-right: .3em;
}

.fadey {
    background-image: linear-gradient(transparent 10%, currentColor 30%, currentColor 90%, transparent 100%);
	-webkit-background-clip: text;
    background-clip: text;
    background-attachment: fixed;
  }
  .fadey > * {
    color: transparent;
  }

footer {
	text-align: right;
	font-size: 14px;
}
footer a {
	color: rgba(255,255,255,.8);
	text-decoration: underline;
	transition: color .1s;
}
footer a:hover {
	color: white;
}