@font-face {
  font-family: 'presninja';
  src:  url('fonts/presninja.eot?5zi0s3');
  src:  url('fonts/presninja.eot?5zi0s3#iefix') format('embedded-opentype'),
    url('fonts/presninja.ttf?5zi0s3') format('truetype'),
    url('fonts/presninja.woff?5zi0s3') format('woff'),
    url('fonts/presninja.svg?5zi0s3#presninja') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pn-"], [class*=" pn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'presninja' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pn-upload2:before {
  content: "\e901";
}
.pn-validate:before {
  content: "\e902";
}
.pn-brightcove:before {
  content: "\e903";
}
.pn-soundcloud:before {
  content: "\e907";
}
.pn-vimeo:before {
  content: "\e905";
}
.pn-youtube:before {
  content: "\e906";
}
.pn-download2:before {
  content: "\e904";
}
.pn-switch:before {
  content: "\e908";
}
.pn-paste:before {
  content: "\ec52";
}
.pn-upload:before {
  content: "\ec8c";
}
.pn-google-drive:before {
  content: "\eeee";
}
.pn-box:before {
  content: "\e900";
}
.pn-marker:before {
  content: "\e923";
}
.pn-file-plus:before {
  content: "\e9a1";
}
.pn-paste2:before {
  content: "\e9b7";
}
.pn-keyboard:before {
  content: "\ea71";
}
.pn-drop:before {
  content: "\ec8d";
}
.pn-link:before {
  content: "\ec9b";
}
.pn-help:before {
  content: "\ed56";
}
.pn-reorder:before {
  content: "\ee3b";
}
.pn-increase:before {
  content: "\eec5";
}
.pn-decrease:before {
  content: "\eec6";
}
.pn-dropbox:before {
  content: "\ef0d";
}
.pn-design:before {
  content: "\e92a";
}
.pn-book-play:before {
  content: "\e992";
}
.pn-add-documents:before {
  content: "\e9a7";
}
.pn-download:before {
  content: "\e9b9";
}
.pn-reset:before {
  content: "\ea4b";
}
.pn-floppy-disk3:before {
  content: "\ea8a";
}
.pn-fiddle:before {
  content: "\eb5a";
}
.pn-optimise:before {
  content: "\eb6b";
}
.pn-discard:before {
  content: "\ebfa";
}
.pn-completion:before {
  content: "\ec4e";
}
.pn-basics:before {
  content: "\ec55";
}
.pn-pointer:before {
  content: "\ed2d";
}
.pn-warning:before {
  content: "\ed4c";
}
.pn-info:before {
  content: "\ed60";
}
.pn-cancel:before {
  content: "\ed62";
}
.pn-close:before {
  content: "\ed6a";
}
.pn-sort:before {
  content: "\ee45";
}
.pn-split:before {
  content: "\eea2";
}
.pn-progress:before {
  content: "\eedd";
}
.pn-zoom-in:before {
  content: "\e987";
}
.pn-zoom-out:before {
  content: "\e988";
}
.pn-enlarge2:before {
  content: "\e98b";
}
.pn-play3:before {
  content: "\ea1c";
}
.pn-pause2:before {
  content: "\ea1d";
}
.pn-previous2:before {
  content: "\ea23";
}
.pn-next2:before {
  content: "\ea24";
}
.pn-volume-increase:before {
  content: "\ea2b";
}
.pn-volume-decrease:before {
  content: "\ea2c";
}
.pn-mic:before {
  content: "\e91e";
}
